.menu {
    background: green;
    display: flex;
    flex-direction: row-reverse;
}
.toggle_button {
    margin: 1rem;
    width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: blueviolet;
    //position: absolute;
    color: white;
}
.content {
    width: 50vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    justify-content: flex-end;
    z-index: 10;
    
    li {
        list-style-type: none;
        text-align: center;
    }

    a {
        color: var(--white);
        display: flex;
        padding: 1rem;
        width: 80px;
        border-radius: 5px;
        transition: color 0.2s;

        &:hover {
            color: var(--gray-300);
        }
    }
}