$color-visual: var(--blue);
$color-gray-hover: var(--gray-300);
$color-visual-footer: var(--white);

.navConteinerFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        display: inline-block;
        padding: 1rem;
        color: $color-visual-footer;
        position: relative;
        margin: 0.5rem;
        height: 20;
        width: 20;
        transition: color 0.2s;

        &:hover {
            color: $color-gray-hover;
        }
    }
}
