.container_table{
    width: 1200px;
    height: 10rem;
}
.table {
    width: 1200px;
    height: 78px;
    padding: 2rem;
    background: #FFFFFF;
    th {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.5rem;
    }
    td {
        font-size: 1.5;
    }
}
