.accordionItem {
    details {
        width: auto;
        height: auto;
        summary {
            margin: 2rem 2rem 0.12rem 2rem;
            display: flex;
            justify-content: space-between;
            border: none;
            color: var(--blue);
            font-size: 1.25rem;
            font-weight: 900;
            cursor: pointer;
            transition: color 0.2s;
            &:hover{
               color: var(--gray-300);
            
            }
        }    
        
        p {
            font-size: 1.13rem;
            margin-left: 2rem;
            padding: 1.12rem 0rem 1.12rem 0rem;
            transform: rotate(720deg);
        }
    }  
}