.slider_video{
    width: 1112rem;
    max-width: 66.25rem;
    margin: 0 auto;
    min-height: 50vh;
    //display: static;
    //align-items: center;
    justify-content: space-between;
    background: #000000;
    border-radius: 0.63rem;
    overflow: hidden;
}
.icon{
    width: 4rem;
    height: 4rem;
    //margin-top: 20rem;
    padding: 1rem;
    //position: relative;
    color: #FFFFFF;
}
.slider{
    //position: static;
    width: 1099px;
    height: 618.19px;
    left: 411px;
    top: 2491px;
    display: flex;
    text-align: center;

    iframe {
        align-items: center;
        justify-content: center;  
        aspect-ratio: 16/9;
        width: 65rem;
        height: 38rem;
        margin: 1rem;
        border-radius: 0.625rem;
        border: 0.063rem solid #000000;
        filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    }
    span {
        color: #FFFFFF;
        margin: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.9rem;
    }
}

