.slider_video{
    width: 90%;
    max-width: 1100px;
    height: 736px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 auto;
    
}
.slider{
    height: 726px;
    aspect-ratio: calc(16/9);
    overflow: hidden;
    text-align: center;

    iframe {  
        width: 100%;
        height: 618px;
        border-radius: 10px;
        filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    }    
    span {
        color: #FFFFFF;
        margin-top: 10px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
    }
}
.contentButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    button {
        width: 64px;
        height: 64px;
        padding: 16px;
        background-color: #000000;
        color:#FFFFFF;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
    }
}

