.slider_video{
    //position: absolute;
    width: 1100px;
    height: 726px;
    left: 401px;
    top: 2484px;
    background-color: #000000;
    
}
.contentButton{
    display: flex;
    justify-content: space-between;
    button {
        position: relative;
        width: 64px;
        height: 64px;
        padding: 16px;
        background-color: #000000;
        color:#FFFFFF;
        border: none;
        text-decoration: none;
        text-align: center;
        cursor: pointer;     
    }
}
/*.iconPrevButton{
    left: 16px;
}
.iconNextButton{
    right: 16px;
}*/
.slider{
    //position: relative;
    width: 1099px;
    height: 726px;
    margin-top: 20px;
    left: 402px;
    top: 2484px;
    aspect-ratio: calc(16/9);
    overflow: hidden;
    text-align: center;

    iframe {  
        //position: absolute;
        width: 1099px;
        height: 618px;
        left: 402px;
        top: 2484px;
        border-radius: 10px;
        border: 1px solid #000000;
        filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    }    
    span {
        //position: absolute;
        color: #FFFFFF;
        margin-top: 10px;
        //padding: 5rem;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
    }
}

