.card {
 width: 65.125rem;
 background: #d9d9d9;
 border-radius: 2.5rem;
 padding: 2rem;
 display: flex;
 //flex-direction: row;
 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin: 2rem;
 }
}