.card {
 width: 65.125rem;
 background: #d9d9d9;
 border-radius: 2.5rem;
 padding: 2rem;
 display: flex;
 margin: 1rem;
 flex-direction: row;
}
.subCard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}