.modalStyle {
    position: absolute;
    //display: block;
    //flex-direction: row;
    border-radius: 25px;
    background-color: rgb(0, 0, 0, 0.2);
    //width: 100vw;
    //height: 100vh;
    z-index: 0;
    //top: 50%;
    //left: 50%;
    //position: absolute;
}