.modalStyle {
    position: absolute;
    background: rgb(0, 0, 0, 0.2);
    width: 98vw;
    height: 100vh;
    top: 1304px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
}