$color-border: #333333;
.headerContent{
    height: 8.25rem;
    background: var(--gray-200);
    left: 0;
    top: 0;
    div {
        width: 11.553rem;
        height: 1.573rem;
        left: 11.313rem;
        top: 5.399rem;
        border: 1px solid $color-border;

        span {
            border-radius: 0.94rem;
            border: 0.064rem solid $color-border; 
        }
    }
}