.slider{
    width: 90%;
    max-width: 66.25rem;
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    
}
.carousel{
    cursor: grab;
    gap: 2.5rem;
    overflow: hidden;
    //background-color: purple;
}
.inner {
    display: flex;

}
.item {
    min-height: 14.5rem;
    min-width: 25rem;
    padding: 0.875rem;
    
    div {
        width: 20rem;
        height: 90%;
        border-radius: 0.75rem;
        pointer-events: none;
        background-color: #DBD7D7;
        padding: 1rem;
        //margin: 1rem;
        span {
            width: 20rem;
            height: 1.75rem;
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.75rem;
        }
        p {
           font-style: normal;
           text-align: justify;
            font-weight: 400;
            font-size: 0.85rem;
            line-height: 1.75rem;
        }
    }
}
.iconButton{
    width: 4rem;
    height: 4rem;
    position: relative;
    
}
@media(max-width: 450px){
    .slider{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .carousel{
        overflow: auto;
    }
    .inner {
        text-align: center;    
        .item{
            min-width: 22rem;
            padding: 0.70rem;
        }
        p {margin-top: 1rem};
    }
}
