.slider{
    width: 100%;
    max-width: 66.25rem;
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel{
    cursor: grab;
    overflow: hidden;
    background-color: purple;
}
.inner {
    display: flex;

}
.item {
    min-height: 14.5rem;
    min-width: 25rem;
    padding: 0.875rem;
    
    div {
        width: 20rem;
        height: 90%;
        border-radius: 0.75rem;
        pointer-events: none;
        background-color: #DBD7D7;
        padding: 2rem;
        span {
            font-size: 1rem;
        }
    }

}