.slider{
    width: 100%;
    max-width: 56.25rem;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel{
    cursor: grab;
    overflow: hidden;
    background-color: purple;
}
.inner {
    display: flex;

}
.item {
    min-height: 12.5rem;
    min-width: 25rem;
    padding: 0.875rem;
    
    img {
        width: 100%;
        height: 90%;
        border-radius: 0.75rem;
        pointer-events: none;
    }

}