.footerConteiner {
    border-top: 1px solid var(--gray-300);
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
}
.footerContent {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    background-color: var(--blue);
    div {
        padding: 1rem;
        span {
            font-weight: bold;
            color: var(--white);
            transition: color 0.2s;
        }
        p {
            color: var(--white);
            padding: 0 1rem 0;
        }
    }
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footerCopyright {
    padding: 1rem;
    color: var(--white);
    text-align: center;
    background-color: var(--blue-100);
}
.icon{
    width: 2rem;
    height: 1.5rem;
    color: #FFFF;
}
@media(max-width: 450px){
    .footerContent{
        flex-direction: column;
        padding: 0.35rem;
        justify-content: center;
        div {
            span {
                text-align: center;
            }
            
        }
        
    }
}