.toggle_button {
    position: fixed;
    top: 85%;
    margin-left: 75%;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(14, 101, 229, 1) 50%, rgba(1,59,209,1)100%);
    color: white;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFF;
    margin: 0.6rem;
    padding: 0.2rem;
    transition: color 0.2s;

}
.icon{
    width: 1.5rem;
    height: 1.5rem;
}

@media(max-width: 900px){
    .toggle_button {
        top: 70%;
    }
}
@media(max-width: 450px){
    .toggle_button {
        top: 90%
    }
}
