.toggle_button {
    position: fixed;
    margin-top: 33%;
    margin-left: 75%;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: var(--dark-blue);
    color: white;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFF;
    margin: 0.6rem;
    padding: 0.2rem;
    transition: color 0.2s;

}
.icon{
    width: 1.5rem;
    height: 1.5rem;
}

@media(max-width: 450px){
    .toggle_button {
        margin-top: 100%;
    }
}
