.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15.625rem;
    height: 5.375rem;
    padding: 1.625rem;
    margin: 1.5rem;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    border: none;
    transition: color 0.2s;
    &:hover {
        color: var(--gray-300);
    }
    
    p {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
    }
}