* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
  --white: #ffffff;
  --white-100: #efefef;
  --gray-100: #e1e1e6;
  --gray-200: #E6E6E6;
  --gray-300: #a8a8b3;
  --gray-500: #909090;
  --black: #000000;
  --blue: #0E65E5;
  --dark-blue: #013BD1;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce){
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 1080px){
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px){
  html {
    font-size: 87.5%
  }
}
  
  @media (max-width: 450px){
    html {
      font: 350 1rem 'Montserrat';
    }
    .headerContent{
      display: none;
    }
  }
  
  body {
    background: var(--white-100);
    color: var(--black);
  }
  
  body, input, textarea, select, button, p , ul, li {
    font: 400 1rem 'Montserrat', sans-serif;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  